/* Dyson.UK specific css */

/*HMC results*/
.gridResultsItem, .gridResultsItemInfo{height:390px;}

/*Promotions*/
    /*3 pound off accessories*/
    .promo3poundoff p{min-height:90px; height:auto !important; height:90px;}
    

/*==========TEMP ITEMS UNTIL CSS IS BROUGHT UP ON BUILD===================*/    
    /*Promotions - Phase 5*/
    .panelSubtitle{font-size:1.1em !important;}   
   
    .dSlim_Home_Lbx_Copy_Long{top:20px;}
    
    .lightboxVideoPlayTextIcon{background:url("http://www.dyson.co.uk:80/medialibrary/Images/Dyson/generic/sml_PlayVideoIcon.jpg") no-repeat left 3px; padding-left:17px; padding-top:2px;}
    
    /*Colour palette*/
        .textColour1{color:#494949 !important;}/*Off black*/
    
    /*Digital slim notify me*/
        .signUpNotifyMeSignup_262_Lbx h1{font-size:2.0em;}
        .signUpNotifyMeSignup_262_Lbx a{font-size:1.3em;}
        .signUpNotifyMeSignup .formContainer{width:335px;}
        
    .leftBottom{background-position:left bottom !important;}  
	.hub_RangeFeatures{float:none;}
	    
    .dSlim_Compare_Lbx_Img_DC44{margin-bottom:-10px;}
    
    .hct_TableContainer_ThreeMachines td{width:210px;}
			.hct_TableContainer_ThreeMachines .hct_Titles, .hct_TableContainer_ThreeMachines .hct_Feature_Link{width:230px;}
                .hct_TableContainer_ThreeMachines .hct_Feature_Link{background-position:235px 7px;}
                .hct_TableContainer_ThreeMachines .hct_Feature_Desc_Container{left:258px;}
                
        .hct_TableContainer_TwoMachines .hct_Feature_Desc_Container{left:273px;}

	.digitalSlimTakeover_LBxCopy h1{position:absolute; top:125px; left:100px;}
		.digitalSlimTakeover_LBxCopy h2{position:absolute; top:45px; left:20px;}

			
         /*Compare page*/
            
			
         /*DC*/
            .dSlim_DC_Letterbox_Image{margin-top:0;}
			.dSlim_CarbonFibre_FeatureList_Item1, .dSlim_CarbonFibre_FeatureList_Item2{position:relative !important; left:0 !Important; bottom:0 !Important; z-index:1;}
		    .dSlim_DC_MotorBrushBarImg_EU img{position:absolute; bottom:-31px; left:0;}
	
	
		
			
                
    .dSlim_DC_Hedgehog{background:url("http://www.dyson.co.uk:80/medialibrary/Images/Dyson/Products/Vacuums/vacuums%20pages/n262/DC44/hedgehogIcons.png") no-repeat left;}
    
    .dSlim_DC_ToolsRollover{height:311px; overflow:hidden;}
        .dSlim_DC_ToolsRollover a{background-position:left 311px; position:absolute; left:0}
        .dSlim_DC_ToolsRollover .dSlim_DC_ToolsRollover_Tool1{top:0; height:100px;}
            .dSlim_DC_ToolsRollover .dSlim_DC_ToolsRollover_Tool1:hover, .dSlim_DC_ToolsRollover .dSlim_DC_ToolsRollover_Tool1:focus{background-position:left 0;}
        .dSlim_DC_ToolsRollover .dSlim_DC_ToolsRollover_Tool2{top:100px; height:111px;}
        .dSlim_DC_ToolsRollover .dSlim_DC_ToolsRollover_Tool3{top:212px; height:100px;}
            .dSlim_DC_ToolsRollover .dSlim_DC_ToolsRollover_Tool3:hover, .dSlim_DC_ToolsRollover .dSlim_DC_ToolsRollover_Tool3:focus{background-position:left 622;}
            
            
    /*Slider widget*/
    .sliderContentMasterContainer{position:relative; min-height:500px; height:auto; height:500px;}
	    .sliderContentContainer{position:absolute; top:0; left:0; z-index:100;}
	    .sliderContainer{position:absolute; bottom:0; left:0; width:600px;}
        	.sliderContainerNav_Start{margin-left:-20px;}
		    .sliderContainerNav_2{position:absolute; left:50%; margin-left:-20px}
		    .sliderContainerNav_End{margin-right:-20px;}


    /*Animation widget*/
	    .animationWidgetContainer{width:360px; height:480px; overflow:hidden; position:relative;}
		    .animationWidgetMover{position:absolute; top:0; left:0;}
		    
		    .n262HedgehogDetails{position:absolute; top:0; left:0; z-index:110;}
		    .n262HedgehogDetails2{position:absolute; top:50px; left:200px; z-index:110;}
		    
		    .hedgehogNav{position:absolute; top:0; left:0;}
		    .hedgehogGif{display:none;}
		    .hedgehogNav a:hover .hedgehogGif, hedgehogNav a:focus .hedgehogGif{display:block;}
            
            .loading{background:url("http://www.dyson.co.uk:80/test/images/loading.gif") no-repeat center; width:100%; height:100%; display:block;}
            
     /* trade-in landing page */
     .tradeinLandingPage .ProductRangeNoCompare_Product {position:relative; margin-top:0;}
     
