/* Video thumbnails */

.lightboxVideoThumbnail a{width:130px; height:90px; position:relative; display:block; overflow:hidden;}
    .lightboxVideoThumbnail a img{position:absolute;top:0;left:0;}
    .lightboxVideoThumbnail a:hover{border:0px solid #fff !important;}
    .lightboxVideoThumbnail a:hover img {left:-130px;}    
